{
  "presets": ["next/babel"],
  "plugins": [
        [
          "prismjs",
          {
            "languages": [
              "css",
              "diff",
              "graphql",
              "html",
              "javascript",
              "json",
              "json5",
              "jsx",
              "markdown",
              "markup",
              "php",
              "plsql",
              "shell",
              "sql",
              "tsx",
              "typescript"
            ],
            "plugins": [
              "line-numbers"
            ]
          }
        ]
  ]
}
