{
  "presets": ["next/babel"],
  "plugins": [
    "@babel/plugin-transform-unicode-regex",
    [
      "prismjs",
      {
        "languages": [
          "css",
          "diff",
          "graphql",
          "html",
          "javascript",
          "json",
          "json5",
          "jsx",
          "markdown",
          "markup",
          "php",
          "plsql",
          "shell",
          "sql",
          "tsx",
          "typescript"
        ],
        "plugins": [
          "line-numbers"
        ]
      }
    ]
  ]
}
